* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ------------------------------------------------------------section one --------------------------------------------------- */
.form-control {
  text-align: center;
  margin-top: 70px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
  color: #fff;
}
#search:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

#word:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}
.movie {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.clr {
  clear: both;
}

.poster {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.layer {
  line-height: 1.5;
  text-align: center;
  padding-top: 26%;

  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  /* display: none; */
  transform: translateY(101%);
  /* opacity: 0; */
  transition: transform 0.5s ease-in;
}

.poster:hover .layer {
  /* opacity: 1; */
  transform: translateY(0);
}

/* ---------------------------------------------------------section two --------------------------------------------------- */
.nav1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  z-index: 55555556;
  background-color: #f8f6f6;
  text-align: center;
  float: left;
}
/* .strip-header-nav {
  float: left;
} */

.logo {
  height: 48px;
  margin-bottom: 70px;
}
.logoDiv {
  padding: 25px 14px;
  margin-bottom: 70px;
}
.close {
  /* padding: 25px 10px; */
  color: #000 !important;
  margin: 70px 10px;
}
.fa-align-justify {
  color: #000 !important;
  cursor: pointer;
}
.open {
  /* padding: 25px 10px; */
  color: #000 !important;
  margin: 10px 20px 10px 20px;
  font-size: 30px;
}
.fa-times {
  color: #000 !important;
  cursor: pointer;
}
.share .fa-share-alt {
  margin: 10px 5px 0px 5px;
  cursor: pointer;
}
.globe .fa-globe {
  color: #000 !important;
  margin: 80px 5px 10px 5px;
  cursor: pointer;
}

.nav2 {
  color: white;
  position: fixed;
  top: 0;
  left: -250;
  width: 250px;
  height: 100vh;
  z-index: 5555;
  background-color: #000;
  float: left;
}
#two {
  display: flex;
  flex-wrap: wrap;
}
.nav-d {
  list-style-type: none;
  margin-left: 40px;
}
.contact-us {
  color: white;
}
.contact-us {
  text-decoration: none !important;
}

#Now-Playing,
#Popular,
#Top-Ratd,
#Trending,
#Upcoming {
  color: white;
  cursor: pointer;
}
#Top-Ratd:hover {
  color: #ff655c;
}

#Popular:hover {
  color: #ff655c;
}
#Trending:hover {
  color: #ff655c;
}
#Upcoming:hover {
  color: #ff655c;
}
.contact-us:hover {
  color: #ff655c;
}

#Now-Playing:hover {
  color: #ff655c;
}
.icons {
  margin: 80px 20px;
  /* margin-right: 20px;
  margin-left: 20px; */
}
.copyright {
  margin-top: 70px;
  color: #999;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
}

.fa-facebook-f,
.fa-twitter,
.fa-globe {
  color: white;
}
.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-globe:hover {
  color: #ff655c;
}
/* -------------------------------------------------------------------------section three --------------------------------------------------- */
#three {
  display: flex;
  flex-wrap: wrap;
}
.inputs {
  margin-right: 0;
  float: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.form-control {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
#contact {
  margin-top: 40px;
  color: white;
  font-size: 40px;
  font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-seri;
}

/* .alert-name,
.alert-phone,
.alert-email,
.alert-age,
.alert-pass,
.alert-repass {
  display: none;
} */
.alert {
  margin-top: 0px;
}

#name:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

#age:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}
#pass:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

#repass:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}
#email:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

#phone:focus {
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.btn {
  color: #dc3545;
  background-color: transparent;
  padding: 10px 30px;
  font-weight: 100;
  margin-bottom: 70px;
}
